.slick-dots {
    top: 80%;
    position: absolute;
    height: 30px;
}

::-webkit-scrollbar {
    width: 0;
}

.slick-item {
    margin-right: 50px;
    /* Add margin between items horizontally */
}

.slick-dots li button::before {
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: white;
    text-indent: -9999px;
}

.slick-dots li button {
    width: 50px;
    height: 50px;
}

.slick-dots li {
    width: 10px;
    height: 10px;
}

.slick-arrow {
    margin-left: 50px;
    /* margin-bottom: 300px; */
    margin-right: 50px;
    z-index: 1;
    top: 100px
}

.slick-item:last-child {
    margin-right: 0;
    /* Remove margin for the last item */
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .slick-dots {
        top: 90%;
    }
}


@media only screen and (min-width: 980px) {}


.slick-dots li button {
    width: 60px;
    height: 60px;
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
    .slick-dots li button {
        width: 30px;
        height: 30px;
    }
}